* {
  margin: 0;
  padding: 0;
  font-family: "Fira Sans", sans-serif;
}
a:visited {
    color: initial;
}
h3 {
    padding: 10px 0;
    font-size: 18px;
    text-align: center;
}
.logo {
  padding: 40px;
  font-family: "Alfa Slab One", serif;
  font-size: 32px;
  text-align: center;
  display: flex;
}
.logo img {
  width: 60px;
  margin: 0 25px;
}
.flex-layout {
  display: flex;
  justify-content: center;
  align-items: center;
}

.show:not(:first-child) {
  border-left: 1px solid #ffffff;
}
.searching-stats-graph {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.show:first-child {
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
}
.show:last-child {
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.color-block {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
}
.searching-stats-text li {
  display: flex;
  align-items: center;
  list-style: none;
}
.searching-stats-text span {
  padding: 3px;
  font-size: 16px;
}
#chart rect {
    stroke: #F9BB2D;
    stroke-width: 2px;
}
#chart rect:hover {
  fill: rgb(255, 157, 0);
}
.appendix {
    color: #666;
    padding: 5px;
}