.idea
.DS_Store
*.crx
*.pem
.svelte-kit
Cargo.lock
web-ext-artifacts
node_modules
target
docs/public
docs/static/advisory
manifest.json
extension/core
extension/lib
extension/manage
macro_railroad/pkg