[submodule "core"]
	path = core
	url = https://github.com/huhu/search-extension-core
[submodule "docs/themes/juice"]
	path = docs/themes/juice
	url = https://github.com/huhu/juice
[submodule "query.rs"]
	path = query.rs
	url = https://github.com/huhu/query.rs
