.impl-items>details.rustdoc-toggle {
    border-left: 2px solid transparent;
    padding-left: 5px;
}

.impl-items>details.rustdoc-toggle:hover {
    border-left: 2px solid #F9BB2DAA;
    padding-left: 5px;
}