/* Adaptive classes for docs.rs */

div.container {
    max-width: none !important;
}

div.nav-container form.landing-search-form-nav {
    max-width: none !important;
}


/* Rust Search Extension classes */

.rse-dropdown-content {
    color: var(--color-navbar-standard);
    max-height: 600px;
    overflow: auto;
    max-width: 60rem;
}

.rse-dropdown-content a {
    color: var(--color-standard);
}

.rse-dropdown-content a:hover {
    text-decoration: underline;
}

.rse-dropdown-content>ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.feature-flags-table {
    margin: 0.5rem;
    border-collapse: separate;
    border-spacing: 0.5rem;
}

.feature-flags-table td.docblock-short {
    position: sticky;
    left: 0;
}

.optional-dependency {
    padding: 10px 20px;
    border-top: 1px solid var(--color-border);
    max-width: 60rem;
}

.optional-dependency-title {
    color: var(--color-standard);
    text-transform: uppercase;
}

.optional-dependency-list {
    list-style: none;
    margin: 0;
    padding: 0;
    white-space: normal;
}

.optional-dependency-item {
    display: inline-block;
    vertical-align: middle;
    margin: 7px 0;
}

.advisory-item {
    padding: 20px 0;
    margin: 0 20px;
}

.advisory-item:not(:first-child) {
    border-top: 1px solid var(--color-border);
}

.advisory-title {
    color: var(--link-color) !important;
    font-weight: bold;
}

.advisory-desc {
    padding: 10px 0;
    font-size: 13px;
}

.add-to-extension {
    line-height: 1;
    font-size: 0.8em;
    color: #121212bb;
    background-color: #F9BB2Daa;
    font-weight: 500;
    cursor: pointer;
    padding: 0.2rem;
    border-radius: 3px;
    margin: 5.4px 16px 4.4px;
}

.add-to-extension-disabled {
    background-color: #edebe7 !important;
    cursor: not-allowed !important;
    color: #666 !important;
}

.add-to-extension:hover {
    color: #121212;
    background-color: #F9BB2D;
}

.add-to-extension-content {
    max-width: 20rem;
    padding: 1rem;
    position: relative;
    display: block;
    white-space: normal;
    font-size: 13px;
    color: var(--color-navbar-standard);
}

@media screen and (max-width: 1500px) {
    .rse-doc-toc {
        display: none;
    }
}

@media screen and (min-width: 1500px) {
    .rse-doc-toc {
        position: fixed;
        right: 20px;
        top: 30px;
        list-style: none;
        border-left: solid #bbb 1px;
        padding-left: 5px;
        max-width: 220px;
        min-width: 120px;
        max-height: 100vh;
        overflow-y: auto !important;
    }
    .rse-doc-toc-item {
        padding: 5px;
        border-left: solid transparent 3px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .rse-doc-toc-item:hover {
        text-decoration: underline;
    }
    .rse-doc-toc-h1 {
        font-family: "Fira Sans", Arial, sans-serif;
    }
    .rse-doc-toc-h2 {
        margin-left: 10px;
        font-size: 14px;
        font-family: "Fira Sans", Arial, sans-serif;
    }
    .rse-doc-toc-h3 {
        margin-left: 20px;
        font-size: 13px;
    }
    html[data-theme="ayu"] .rse-doc-toc a {
        color: #c5c5c5;
    }
    html[data-theme="dark"] .rse-doc-toc a {
        color: #ddd;
    }
    html[data-theme="light"] .rse-doc-toc a {
        color: black;
    }
    .rse-active {
        border-left: solid #F9BB2D 3px;
    }
}
