.rse-button {
    padding: 0.25rem 0.5rem;
    font-size: 12px;
    color: rgba(18, 18, 18, 0.733);
    background-color: rgba(249, 187, 45, 0.667);
    border-radius: 3px;
    margin: 0 10px;
    vertical-align: middle;
}

.rse-button:hover {
    color: #121212;
    background-color: #F9BB2D;
}

.rse-sticky {
    position: -webkit-sticky;
    position: -moz-sticky;
    position: -o-sticky;
    position: -ms-sticky;
    position: sticky;
    top: 0;
    display: block;
    z-index: 1;
    background-color: #fff;
}

.rse-more {
    display: inline-block;
    z-index: 9999;
}