.heading-text {
  font-family: "Fira Sans", sans-serif;
  font-size: 32px;
  font-weight: 600;
  padding: 10px 0 25px 0;
}

.title-text {
  font-family: "Fira Sans", sans-serif;
  font-size: 25px;
  font-weight: 500;
  border-left: #F9BB2D 8px solid;
  padding-left: 10px;
}

.subtitle-text {
  font-family: "Fira Sans", sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.text {
  font-family: "Fira Sans", sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0.2px;
}

.subtext {
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.1px;
}