.setting-group {
    display: flex;
    flex-direction: row;
    margin: 40px 50px 60px;
    .title-text {
        width: 280px;
        align-self: start;
    }
}

.disable {
    pointer-events: none;
    opacity: 0.3;
}

.setting-item {
    font-size: 20px;
    margin-bottom: 30px;
}

.offline-doc-path {
    width: 100%;
    margin: 5px 0;
}

.toggle {
    position: relative;
    display: inline-block;
    width: 26px;
    height: 15px;
    vertical-align: middle;
}

.toggle input {
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .3s;
    transition: .3s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 11px;
    width: 11px;
    left: 3px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .3s;
    transition: .3s;
}

input:checked+.slider {
    background-color: #333;
}

input:focus+.slider {
    box-shadow: 0 0 1px #333;
}

input:checked+.slider:before {
    -webkit-transform: translateX(10px);
    -ms-transform: translateX(10px);
    transform: translateX(10px);
}

.toast {
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9;
    text-align: center;
    padding: 8px;
    display: none;
}