@import "_variables.scss";

.content {
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: auto;
}

.content pre {
  overflow-x: auto;
  padding: 1.25em 1.5em;
  white-space: pre;
  word-wrap: normal;
  background-color: white;
  color: #4a4a4a;
  font-size: .875em;
  font-family: monospace;
}

.content code {
  background-color: white;
  color: #4a4a4a;
  font-size: .875em;
  font-weight: normal;
  padding: 0.25em 0.5em 0.25em;
  font-family: monospace;
}

.content a {
  color: #dd4814;

  &:hover {
    text-decoration: underline;
  }
}