.content img {
  width: 75%;
  height: auto;
}

.demonstration-gif {
  width: 100%;
  max-width: 55%;
  padding: 20px;
}

.btn-download {
  font-family: "Fira Sans", sans-serif;
  color: black;
  background-color: #FDFDFD;
  border-radius: 12px;
  margin: 15px;
  padding: 10px 0 10px 20px;
  font-size: 20px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 24px 24px;
  background-position: 20px;
  width: 240px;
}

.chrome {
  background-image: url("chrome.svg");
}

.firefox {
  background-image: url("firefox.svg");
}

.edg {
  background-image: url("edge.svg");
}

.hide {
  display: none;
}

@media screen and (max-width: 768px) {
  header {
    padding: 10px 30px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .logo {
    font-size: 16px;
    margin: 10px;

    img {
      width: 25px;
      margin: 0 10px 0 0;
    }
  }

  .nav-item {
    margin: 0 5px;
    font-size: 14px;
  }
  .hero {
    padding: 40px 30px;
  }

  main {
    padding: 30px;
  }

  .content {
    padding: 0;
  }

  .content img {
    width: 100%;
    height: auto;
  }

  .explore-more, .demonstration-gif {
    display: none;
  }
}