.histogram-bar-tooltip {
  box-sizing: border-box;
    position: absolute;
    z-index: 9999;
    padding: 5px 9px;
    color: #ffffff;
    font-size: 12px;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 3px;
    text-align: center;
  }

  svg:not(:root) {
    overflow: initial;
}