{% extends "base.html" %}

{% block content %}
<div class="setting-group">
    <div class="title-text">Export</div>
    <div class="text">
        <div>Export following data to JSON file:</div>
        <br>
        {% set items = ["settings", "search-history", "search-statistics", "crates"] %}
        {% for item in items %}
        <div class="setting-item">
            <div>
                <label class="toggle">
                    <input type="checkbox" class="{{ item }}" checked>
                    <span class="slider"></span>
                </label>
                {{ item | capitalize | replace("-", " ") }}
            </div>
        </div>
        {% endfor %}
        <div class="btn btn-export">Export</div>
    </div>
</div>
<div class="setting-group">
    <div class="title-text">Import</div>
    <div class="text">
        <div>Import from local JSON file:</div>
        <br>
        <input class="file-selector text" type="file" accept="application/json">
        {% set items = ["settings", "search-history", "search-statistics", "crates"] %}
        {% for item in items %}
        <div class="setting-item">
            <div>
                <label class="toggle">
                    <input type="checkbox" class="{{ item }}" checked>
                    <span class="slider"></span>
                </label>
                {{ item | capitalize | replace("-", " ") }}
            </div>
        </div>
        {% endfor %}
        <div class="btn btn-import">Import</div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="./js/export.js" type="module"></script>
{% endblock %}