{% extends "base.html" %} 

{% block content %}
<div class="text">
<div style="margin-top: 20px" class="flex-vertical">
    <div>
        Enable auto update
        <span aria-label="Whether auto opens the index update page when the browser launch (default false). At any time, you can use the `:update` command to sync the latest index." data-balloon-pos="up" data-balloon-length="large" style="vertical-align: middle">
            <img style="vertical-align: middle;width: 15px;margin-right: 5px;" src="./static/info.svg" alt="info">
        </span>
        <label class="toggle">
            <input type="checkbox" id="auto-update">
            <span class="slider"></span>
        </label>
    </div>
</div>
<div style="margin-top: 20px" class="flex-vertical">
    <div>
        Enable offline mode
        <span aria-label="Please check the FAQ if you are a Firefox user." data-balloon-pos="up" data-balloon-length="large" style="vertical-align: middle">
            <img style="vertical-align: middle;width: 15px;margin-right: 5px;" src="./static/info.svg" alt="info">
        </span>
        <label class="toggle">
            <input type="checkbox" id="offline-mode">
            <span class="slider"></span>
        </label>
    </div>
    <input type="text" class="offline-doc-path" placeholder="Input the local doc path">
    <small class="offline-doc-message"></small>
</div>
<div style="margin-top: 10px">
    <label>Crate registry</label>
    <select name="crate-registry">
        <option value="crates.io">crates.io</option>
        <option value="lib.rs">lib.rs</option>
    </select>
</div>
<div class="toast"></div>
</div>
{% endblock %} 

{% block js %}
<script src="../core/compat.js"></script>
<script src="../core/toast.js"></script>
<script src="../settings.js"></script>
<script src="./js/settings.js"></script>
{% endblock %}