<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rust Search Extension</title>
    <link rel="stylesheet" href="./css/balloon.min.css">
    <link rel="stylesheet" href="./css/generic.css">
    <link rel="stylesheet" href="./css/index.css">
    <link href="https://fonts.googleapis.com/css?family=Alfa+Slab+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600&display=swap" rel="stylesheet">
    <style>
        :root {
            /* Primary theme color */
            --primary-color: #F9BB2D;
            /* Primary theme text color */
            --primary-text-color: #121212;
        }
    </style>
    {% block head %}
    {% endblock %}
</head>

<body>
    <div class="flex-layout" style="flex-direction: column;">
        <div style="min-width: 1160px; display: flex;flex-direction: column;">
            <ul class="nav">
                <li class="nav-item"><a href="index.html">Home</a></li>
                <li class="nav-item"><a href="crates.html">Crate manager</a></li>
                <li class="nav-item"><a href="settings.html">Settings</a></li>
                <li class="nav-item"><a href="export.html">Export/Import</a></li>
            </ul>
            <div style="padding: 30px 80px; background-color: white; position: relative;">
                <a href="https://rust.extension.sh" style="text-decoration: none">
                    <div class="logo flex-layout">
                        <img src="../assets/icon.png" alt="rust-search-extension-logo"> Rust Search Extension
                    </div>
                </a>
                {% block content %}
                {% endblock %}
            </div>
        </div>
    </div>
    {% block js %}
    {% endblock %}
</body>

</html>