{% extends "base.html" %} 

{% block content %}
<div class="text">
    <div class="setting-group">
        <div class="title-text">General</div>
        <div>
            <div class="setting-item">
                <div>
                    Enable auto update
                    <span aria-label="Whether auto opens the index update page when the browser launch (default false). At any time, you can use the `:update` command to sync the latest index." data-balloon-pos="up" data-balloon-length="large" style="vertical-align: middle">
                        <img style="vertical-align: middle;width: 15px;margin-right: 5px;" src="../assets/info.svg"
                            alt="info">
                    </span>
                    <label class="toggle">
                        <input type="checkbox" id="auto-update">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
            <div class="setting-item">
                <div>
                    Enable offline mode
                    <span aria-label="Please check the FAQ if you are a Firefox user." data-balloon-pos="up" data-balloon-length="large" style="vertical-align: middle">
                        <img style="vertical-align: middle;width: 15px;margin-right: 5px;" src="../assets/info.svg"
                            alt="info">
                    </span>
                    <label class="toggle">
                        <input type="checkbox" id="offline-mode">
                        <span class="slider"></span>
                    </label>
                </div>
                <input type="text" class="offline-doc-path" placeholder="Input the local doc path">
            </div>
            <div class="setting-item">
                <div>
                    Enable default search items
                    <span aria-label="Default search means search without any sigils required." data-balloon-pos="up" data-balloon-length="large" style="vertical-align: middle">
                        <img style="vertical-align: middle;width: 15px;margin-right: 5px;" src="../assets/info.svg"
                            alt="info">
                    </span>
                </div>
                <div class="setting-subitem" style="opacity: 0.5">
                    - Standard library
                    <label class="toggle">
                        <input type="checkbox" disabled checked>
                        <span class="slider"></span>
                    </label>
                </div>
                <div class="setting-subitem">
                    - Third-party docs
                    <label class="toggle">
                        <input type="checkbox" id="ds-3rd-docs">
                        <span class="slider"></span>
                    </label>
                </div>
                <div class="setting-subitem">
                    - Docs.rs
                    <label class="toggle">
                        <input type="checkbox" id="ds-docs-rs">
                        <span class="slider"></span>
                    </label>
                </div>
                <div class="setting-subitem">
                    - Attributes
                    <label class="toggle">
                        <input type="checkbox" id="ds-attributes">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
            <div class="setting-item">
                <div>
                    Show macro railroad
                    <label class="toggle">
                        <input type="checkbox" id="show-macro-railroad">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
            <div class="setting-item">
                <div>
                    Always keep crates up-to-date
                    <label class="toggle">
                        <input type="checkbox" id="keep-crates-up-to-date">
                        <span class="slider"></span>
                    </label>
                </div>
            </div>
            <div>
                <label>Crate registry</label>
                <select name="crate-registry">
                    <option value="crates.io">crates.io</option>
                    <option value="lib.rs">lib.rs</option>
                </select>
            </div>
        </div>
    </div>
    <div class="setting-group">
        <div class="title-text">About</div>
        <div>
            <div class="setting-item">
                <a href="https://rust.extension.sh">Website</a>
            </div>
            <div class="setting-item">
                <a href="https://rust.extension.sh/changelog">Changelog</a>
            </div>
            <div class="setting-item">
                <a href="https://github.com/huhu/rust-search-extension">Github</a>
            </div>
            <div class="setting-item">
                <a href="https://discord.gg/xucZNVd">Discord</a>
            </div>
        </div>
    </div>
    <div class="setting-group">
        <div class="title-text">Other extensions</div>
        <div>
            <div class="setting-item">
                <a href="https://cpp.extension.sh">C/C++ Search Extension</a>
            </div>
            <div class="setting-item">
                <a href="https://go.extension.sh">Go Search Extension</a>
            </div>
            <div class="setting-item">
                <a href="https://k8s.extension.sh">Kubernetes Search Extension</a>
            </div>
        </div>
    </div>
    <div class="setting-group">
        <div class="title-text">Author</div>
        <div>
            <div class="setting-item">
                <a href="https://twitter.com/_hisriver">@hisriver</a>
            </div>
            <div class="setting-item">
                <a href="https://github.com/folyd">Github</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script src="./settings.js" type="module"></script>
{% endblock %}